body{
    font-family: Arial, sans-serif;
    background-color: rgba(171, 179, 179, 0.547);
    margin: 0;
    padding: 0;
    text-align: center;
}

form{
    background-color: rgba(182, 197, 21, 0.496);
    max-width: 65%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
input[type="submit"]:hover{
    background-color: rgb(7, 207, 7);
}
div{
    
}